:root {
  --light-frost: hsla(0, 0%, 86%, 0.7);
  --dark-frost: hsl(0 0% 3% / 0.5);
  --brand-color: rgb(0, 95, 204);
  --brand-color-2: rgb(80, 0, 184);
  --brand-dark: #181028;
  --green: #1db954;
  --active-color: rgb(0, 106, 255);
}

body {
  background-image: url("https://images.unsplash.com/photo-1609623096082-ed982304b689?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=785&q=80");
  background-size: cover;
  background-position: 0% 0%;
  background-repeat: no-repeat;
  border-radius: 1px;
  width: 100%;
  @apply w-full;
}

progress[value]::-webkit-progress-bar {
  border-radius: 10px;
  background-color: rgba(102, 116, 136, 0.5);
}

progress[value] {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 6px;
}
progress[value]::-webkit-progress-value {
  background-color: #181028;
  border-radius: 10px;
}
